<section class="home section active" id="home" [class.open]="sectionService.isAsideOpen()">
  <div class="container">
    <div class="row">
      <div class="home-info padd-15">
        <h3 class="hello">Hola, mi nombre es <span class="name">Angel De la Cruz</span></h3>
        <h3 class="my-profession">Soy Programador <span #typedElement class="typing">FrontEnd</span></h3>
        <p>Soy un apasionado desarrollador full stack con experiencia en backend y frontend. Me especializo en crear aplicaciones web robustas y eficientes, utilizando tecnologías como ASP.NET Core, JavaScript, y otras más...</p>
      </div>
      <div class="home-img padd-15">
        <img src="recursos/fotoPerfil2.jpg" alt="">
      </div>
    </div>
  </div>
</section>
